body {
    font-family: 'Kumbh Sans', sans-serif;
}

h1,
h2,
h6 {
    font-weight: 700;
}

h6 {
    font-size: 16px;
}

.nav-item {
    margin-right: 10px;
}

.btn-secondary {
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
}

.btn-secondary:focus {
    background-color: hsl(26, 100%, 55%);
}

.btn-secondary:hover {
    background-color: hsl(26, 100%, 72%);
}

nav {
    border-bottom: 2px solid hsl(230, 60%, 97%)
}

.nav-right {
    margin: 0;
    display: flex;
    list-style: none;
}

.cart-card {
    position: absolute;
    width: 350px;
    right: -7px;
    top: 71px;
    z-index: 2;
    display: none;
}

.card-header {
    background-color: white;
    background-color: transparent;
}

.card-body img {
    width: 55px;
    height: 55px;
}

.card-body i {
    cursor: pointer;
    color: rgba(128, 128, 128, 0.674);
}

.card-body i:hover {
    color: red;
}

.card-body .name {
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    width: 45px;
    padding: 0;
    border-radius: 25px;
}

.ring {
    width: 48px;
    cursor: pointer;
}

.ring::before {
    display: block;
    height: 48px;
    content: '';
    border: solid 3px hsl(26, 100%, 55%);
    border-radius: 200px;
    width: 48px;
    margin-bottom: -47px;
    margin-left: -1px;
    transform: scale(0);
    transition: transform 250ms ease-out;
}

.ring:hover:before {
    transform: scale(1);
}

.line {
    padding: 30px 0 0;
}

.line::after {
    margin-top: 28px;
    display: block;
    content: '';
    border-bottom: solid 3px hsl(26, 100%, 55%);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.line:hover:after {
    transform: scaleX(1);
}

.fa-shopping-cart {
    font-size: 19px;
}

.badge-light {
    position: relative;
    font-size: 9px;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    top: -10px;
    right: 30px;
    background-color: hsl(26, 100%, 55%);
}

.navbar-toggler {
    border-color: transparent !important;
}

.rounded-sm {
    border-radius: 15px !important;
}

.big-img1,
.big-img2 {
    width: 100%;
}

.small-img {
    width: 85px;
    cursor: pointer;
}

.small-img-container {
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    height: fit-content;
    transition: all 0.2s;
}

.small-img:hover {
    opacity: 0.5;
}

.small-img-active {
    border: 3px solid hsl(26, 100%, 55%);
}

.small-img-active .small-img {
    opacity: 0.3;
}

h6 {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
}

.right p {
    color: rgba(68, 68, 68, 0.74);
}

.percentage {
    position: relative;
    font-size: 50%;
    top: -5px;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%)
}

.price h5 {
    text-decoration: line-through;
    color: rgba(112, 112, 112, 0.74);
}

.nice-number {
    display: inline-flex;
    justify-content: stretch;
    margin-top: 30px;
}

.nice-number input {
    vertical-align: middle;
    -moz-appearance: textfield;
    box-sizing: content-box;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 90px;
    height: 48px;
}

.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nice-number button {
    height: 50px;
    color: hsl(26, 100%, 55%);
    font-weight: 600;
    font-size: 30px;
    padding: 2px 5px;
}

.nice-number button:hover,
.nice-number button:focus {
    color: hsl(26, 100%, 55%);
    background-color: rgba(232, 232, 250, 0.475) !important;
}

.bg-secondary {
    border-radius: 0;
    background-color: hsl(223, 64%, 98%) !important;
}

.right .fa-shopping-cart {
    color: white;
    margin-left: 0;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-prev img,
.carousel-control-next img {
    background-color: white;
    padding: 15px 18px;
    border-radius: 25px;
}

.modal-content {
    border: none;
    background-color: transparent;
}

.fade {
    background-color: rgba(0, 0, 0, 0.671);
}

.nxt {
    right: -35px;
}

.prev {
    left: -35px;
}

.close-btn2 {
    top: 46px;
    right: -220px;
    position: relative;
    width: 27px;
    float: right;
    color: white;
    font-size: 25px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.close-btn2:hover {
    color: hsl(26, 100%, 55%) !important;
}

.pointer {
    cursor: pointer;
}

.d-none2 {
    display: none !important;
}

@media only screen and (max-width: 992px) {
    nav {
        border-bottom: none;
        margin-top: 10px;
    }
    .logo {
        vertical-align: unset;
    }
    .line {
        color: black !important;
        padding-top: 10px;
    }
    .line::after {
        margin-top: 0px;
    }
    .nav-right {
        margin-top: 0;
        padding-left: 10px;
    }
    .nav-right .nav-item {
        margin: 0 !important;
    }
    .logo {
        margin-left: 5px !important;
        margin-right: 0 !important;
    }
    .navbar-collapse {
        height: 100vh;
        width: 300px;
        background-color: white;
        position: fixed;
        top: 0;
        left: -315px;
        transition: all 0.2s !important;
        padding-left: 25px;
        z-index: 1000;
        box-shadow: 10px 0px 10px #aaaaaa;
    }
    .nice-number input {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .left {
        padding: 0 !important;
    }
    .cart-card {
        width: 95%;
        left: 2.5%;
        right: 0;
        top: 75px;
    }
}

@media only screen and (max-width: 390px) {
    nav {
        width: 100% !important;
    }
    .logo {
        width: 85px;
    }
    .fa-shopping-cart {
        padding-left: 0;
        padding-right: 0
    }
    body {
        padding: 0 !important;
    }
    .navbar-collapse {
        width: 150px;
    }
    .card-body .name {
        width: 157px;
    }
}
